header{position: fixed; top: 0; width: 100%; height: 60px; z-index: 100; color: var(--wihte); padding-top: 15px;}
header:after{display: block; position: relative; clear: both;}

#score{letter-spacing: 2px; font-size: 14px; line-height: 20px; text-transform: uppercase;}
.score,
.nbhorde{color: var(--highlight);}

.title{text-align: center; letter-spacing: 4px; font-size: 38px; line-height: 46px;}
.title:first-letter{color: var(--highlight);}

#more{letter-spacing: 2px; font-size: 14px; line-height: 20px; text-transform: uppercase; text-align: right;}
.music-player {height:20px; cursor:pointer; display: inline-block; padding-right: 32px;}
.music-player:before{content: "Zik";}
.music-on {background:url(../../media/plateau/Sound-on.png) no-repeat top right transparent; background-size: 16px 16px;}
.music-off {background:url(../../media/plateau/Sound-off.png) no-repeat top right transparent; background-size: 16px 16px;}

.player{text-align: center;}
.music{display: none;}
.soundplayer{position: absolute; z-index: -5000; top: 0; left: 0; width: 100%; overflow: hidden;}