/*-HEIGHT-21 CASES-*/
.case,
.swiper21 .case {width: 4.7619%; height: 4.7619%;}

/*-HEIGHT-19 CASES-*/
.swiper19 .case {width: 5.2631%; height: 5.2631%;}

/*-HEIGHT-17 CASES-*/
.swiper17 .case {width: 5.8823%; height: 5.8823%;}

/*-HEIGHT-15 CASES-*/
.swiper15 .case {width: 6.6666%; height: 6.6666%;}

/*-HEIGHT-13 CASES-*/
.swiper13 .case {width: 7.6923%; height: 7.6923%;}

/*-HEIGHT-11 CASES-*/
.swiper11 .case {width: 9.0909%; height: 9.0909%;}

/*-HEIGHT-9 CASES-*/
.swiper9 .case {width: 11.1111%; height: 11.1111%;}

/*-HEIGHT-7 CASES-*/
.swiper7 .case {width: 14.2857%; height: 14.2857%;}